@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: 'Inter', sans-serif;
}

/*menu*/

.menu{
    background-color: #156CD2;
}

.menu__back{
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 70px;
    margin: 0 auto 0 auto;}

.menu__logo{
	margin: 0 193px 0 37px;}

.menu__logo img{
    height: 70px;}

.menu__link{
    margin-right: 48px;
    font-size: 32px;
}

.menu__link div:nth-child(5){
    margin-right: 0;
}

.menu__link a{
    color: #FFFFFF;
}

@media (max-width: 1200px) {
	.menu__back{height: 60px;}
	.menu__logo img{height: 60px;}
	.menu__link{
		margin-right: 3%;
		font-size: 28px;
	}
	.menu__logo{
		margin-right: 20%;
	}
}

@media (max-width: 767px) {
	.menu__back{
		height: 150px;
		position: relative;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-left: 15px;
		gap: 5%;
	}
	.menu__logo{
		position: absolute;
		left: 100px;
		top: 50%;
		transform: translateY(-50%);
		margin-right: 0;
	}
	.menu__logo img{
		height: 100px;
	}

}

/*about*/

.about{
	background-color: #FFFFFF;
}

.about__back{
	max-width: 1200px;
	height: 750px;
	margin: 0 auto;
	position: relative; 
}

.about__back h1{
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	margin: 77px 0 0 28px;
}

.about__back p{
	font-size: 36px;
	line-height: 44px;
	margin: 66px 0 88px 28px;
	width: 371px;
}

.about__back span{
	color: #156CD2;
}

.about__button button{
	display: block;
	font-size: 48px;
	line-height: 59px;
	color: #FFFFFF;
	background-color: #156CD2;
	width: 370px;
	padding: 7px 50px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-left: 28px;
}

.about__back img{
	display: block;
	width: 568px;
	position: absolute;
	bottom: 22px;
	right: 49px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media(max-width: 1200px){
	.about__back h1{
		font-size: 40px;
		line-height: 50px;
		margin: 60px 0 0 20px;
		position: relative;
		z-index: 1;
	}
	.about__back p{
	font-size: 30px;
	line-height: 38px;
	margin: 40px 0 88px 24px;
	width: 300px;
	position: relative;
	z-index: 1;
}
	.about__button button{
		display: block;
		width: 300px;
		padding: 6px 30px;
		font-size: 40px;
		line-height: 45px;
		margin-left: 28px;
		position: relative;
		z-index: 1;
	}
	.about__back img{
		width: 500px;
		z-index: 0;
	}
	.about__back{height: 650px;}
}
@media(max-width: 767px){
	.about__back h1{
	text-align: center;
	margin-left: 0;
	max-width: 450px;
	margin: 50px auto 35px auto;
	font-size: 32px;
}
	.about__back p{
		text-align: center;
		margin-left: 0;
		margin: 0 auto 50px auto ;
	}
	.about__button button{
		margin-left: 0;
		margin: 0 auto;
		width: 300px;
	}
	.about__back img{
		width: 315px;
		left: 50%;
		transform: translateX(-50%);
	}
}

/*benefits*/
.benefits{
	background-color: #156CD2;
}

.benefits__back{
	max-width: 1200px;
	min-height: 750px;
	margin: 0 auto;
}

.benefits__back h1{
	color: #FFFFFF;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	padding: 69px 0 57px 0	;
}

.benefit__conteiner{
	display: flex;
	justify-content: center;
	gap: 17px;
}

/*coloumn*/
.coloummn{
	max-width: 382px;
}

.coloummn img{
	display: block;
	width: 272px;
	margin: 0 auto;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.coloummn p{
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	padding-top: 20px;
	color: #FFFFFF;
}
@media(max-width: 1200px){
	.benefits__back h1{
		font-size: 40px;
		line-height: 48px;
		padding: 59px 0 47px 0;
	}
	.benefit__conteiner{
		flex-direction: column;
		align-items: center;
	}
	.coloummn{
		max-width: 600px;
	}
	.coloummn img{
		width: 225px;
	}
	.coloummn p{
		font-size: 28px;
		margin-bottom: 70px;
	}
	.coloummn:last-child p{
		margin-bottom: 30px;
	}
}
@media(max-width: 767px){
	.benefits__back h1{
		font-size: 32px;
		line-height: 38px;
		padding: 49px 0 37px 0
	}
	.coloummn img{
		width: 180px;
	}
	.coloummn p{
		font-size: 25px;
		margin-bottom: 62px;
	}
}

/* Products */
.products{
	background-color: #E8E8E8;
}

.products_back{
	max-width: 1200px;
	min-height: 750px;
	margin: 0 auto;
}

.products_back h1{
	font-weight: 700;
	color: #000000;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	padding: 69px 0 66px 0;
}

.products__coconteiner{
	display: flex;
	justify-content: center;
	gap: 64px;
}

.card{
	width: 313px;
	height: 401px;
	background-color: #D9D9D9;
	box-shadow: 10px 5px 4px rgba(0, 0, 0, 0.2);
	border-radius: 44px;
	padding: 30px 0;
}

.card_whiteback{
	background-color: #FFFFFF;
	border-radius: 44px;
	margin: 0 auto;
}

.card_whiteback{
	display: block;
	width: 232px;
}

.card p{
	font-size: 24px;
	list-style: 29px;
	text-align: center;
	padding-top: 30px;
	width: 232px;
	margin: 0 auto;
}

@media(max-width: 1200px){
	.products_back h1{
		font-size: 40px;
		line-height: 48px;
		padding: 59px 0 47px 0;	
	}
	.products__coconteiner{
		flex-wrap: wrap;
	}
	.products__coconteiner .card:nth-child(3){
		margin-bottom: 47px;
	}
}
@media(max-width: 767px){
	.products_back h1{
		font-size: 32px;
		line-height: 38px;
		padding: 49px 0 37px 0	;
	}
	.card{
		width: 290px;
		height: 378px;
	}
}

/* Footer */
.footer{
	background-color: rgba(0, 0, 0, 0.89);;
}

.footer_back{
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	min-height: 100px;	
}

.footer_back p{
	font-size: 32px;
	line-height: 55px;
	text-align: center;
	color: #4F4949;
}
@media(max-width: 1200px){
	.footer_back{
		min-height: 65px;
	}
	.footer_back p{
		font-size: 28px;
		line-height: 48px;
	}
}
@media(max-width: 767px){
	.footer_back p{
		font-size: 18px;
		line-height: 30px;
	}
}
